/* Cover Photo */
.cover-photo-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    transition: all 1s ease;
    height: 30px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.cover-photo-container.expanded {
    height: auto;
    /* padding-bottom: 15px; */
    border-radius: 12px;
    width: 100%;
}

.cover-photo {
    width: 100%;
    height: 200px;
    background-color: var(--secondary-color);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
    transform-origin: top;
    opacity: 0.5;
}

.cover-photo.expanded {
    opacity: 1;
}

.cover-photo-container:not(.expanded) .cover-photo {
    transform: scale(1.2);
    border-radius: 12px;
}

/* Revised Toggle - Tug Effect */
.cover-toggle {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-55%);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.cover-toggle i {
    font-size: 14px;
    transition: transform 1s ease;
    color: var(--primary-color);
}

.cover-photo-container.expanded .cover-toggle i {
    transform: rotate(180deg);
}

.cover-photo-container.expanded .cover-photo {
    transition: transform 0.5s ease;
    border-radius: 4px;
    opacity: 1;
}

.cover-toggle:hover {
    background: var(--hover-background);
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.cover-photo-container.expanded .cover-toggle {
    transform: translate(-50%, 10px);
    z-index: 9999;
}

.char-count {
    font-size: 12px;
    opacity: 0.5;
    transform: translate(40px, -25px);
}
